ingress:
  enabled: true
  domains: []
  sniCatchallEnabled: false

zebra:
  enabled: false
  name: zebra
  testnet: false
  image:
    repository: zfnd/zebra
    tag: 3.0.0-rc.0
    hash: 682219d79ee5134aa3bea2ed475f33a98878717fabc866798f5c1025e96f3ed5
    pullPolicy: IfNotPresent
  replicas: 1
  initSnapshot:
    enabled: false
    url: https://link.storjshare.io/s/jvwzyxteyqlmbfayt6jgmhaaus3a/nodedumps/zec/zebra-2025-09-12.tar?download=1
  additionalEnv: {}
  volumes:
    data:
      size: 400Gi
  service:
    type: ClusterIP
  requests: {}
  # requests:
  #   cpu: 2
  #   memory: 4Gi
  # limits:
  #   memory: 16Gi

zcashd:
  enabled: false
  name: zcashd
  testnet: false
  image:
    repository: electriccoinco/zcashd
    tag: v6.3.0
    hash: aacc1a02c80c284210e4472cd6f7fc2576bc5e39bf9637b259eb5c732658c9d2
    pullPolicy: IfNotPresent
  replicas: 1
  initSnapshot:
    enabled: false
    url: https://link.storjshare.io/s/jx5wylg5q6hyg2myyah5eldbjs7q/nodedumps/zec/zcashd-2024-03-31.tar?download=1
    explorer_url: https://link.storjshare.io/s/jvyxajyevhmuyzsjlobsmv5enguq/nodedumps/zec/zcashd-explorer-2024-11-20.tar?download=1
  reindex: false
  lightwalletd: true
  explorer: false
  wallet: false
  nodes:
   - mainnet.z.cash
  additionalArgs: []
  volumes:
    data:
      size: 400Gi
  service:
    type: ClusterIP
  requests:
    cpu: 1
    memory: 1.5Gi
  limits:
    memory: 10Gi
  mine: false
  mining_address:
  genproclimit: 1
  exportdir: /tmp

rpc:
  credentials:
    rpcUser: 100ZECS
    rpcPassword: h3hqw3eRHcoqwirhOCQWHEr2OC

lightwalletd:
  enabled: true
  name: lightwalletd
  rpcService: zebra
  donationAddress:
  image:
    repository: electriccoinco/lightwalletd
    tag: v0.4.18
    hash: 0267fabc66c9b62ee0b5143a47e8c2c0969c1b759a990cba44d00a92089be07d
    pullPolicy: IfNotPresent
  replicas: 1
  initSnapshot:
    enabled: false
    url: https://link.storjshare.io/s/jvfegr7l7gwgcsvdml5lazlnypdq/nodedumps/zec/lwd/2024-03-26.tar?download=1
  additionalArgs: []
  volumes:
    data:
      size: 40Gi
  service:
    type: ClusterIP
    port: 9067
  requests:
    cpu: 0.5
    memory: 512Mi
  limits:
    memory: 3Gi

explorer:
  enabled: false
  name: explorer
  replicas: 1
  image:
    repository: emersonian/zcash-explorer
    tag: v0.0.6
    hash: ff583282563a566c09d004cd4bdf2f30edd32497a3a98eec40df1da130a69df9
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 4000
  resources:
    limits:
      cpu: "1"
      memory: "3072Mi"
    requests:
      cpu: "0.1"
      memory: "512Mi"
  env:
    # NOTE: Override this if you want cookies to store sensitive information.
    # Generate it with Elixir and Phoenix installed: "mix phx.gen.secret"
    SECRET_KEY_BASE: 552Ean5DQvRgWpbO/xR4HADdPkNz30mKICmkzuqWUvp+2e1NZderMWVA/v6KkcfJ
    EXPLORER_SCHEME: https
    EXPLORER_PORT: "4000"
    ZCASH_NETWORK: mainnet
    zcash_network: mainnet

zaino:
  enabled: false
  name: zaino
  ingress:
    enabled: true
    domains: []
  image:
    repository: emersonian/zcash-zaino
    tag: 0.1.2-zr4
    hash: 9965cc15e018c2c8cc3d3ce708717f25191f00cb7175f3eb35cb1bfd993fc7d5
    pullPolicy: IfNotPresent
  replicas: 1
  rpcService: zebra
  volumes:
    data:
      size: 40Gi
  service:
    type: ClusterIP
    port: 8137
  requests:
    cpu: 0.5
    memory: 512Mi
  limits:
    memory: 6Gi
  additionalArgs: []
  config:
    dbSize: 64
    noSync: false
    noDB: false
    noState: false

tor:
  enabled: false
  name: tor
  targetService: zaino
  hiddenServicePort: 443
  image:
    repository: osminogin/tor-simple
    tag: 0.4.8.16
    hash: 5ba582f1cd25aafec72cfa299a12d6b145bd9cef919c7c7831b80e10e5cc3f3e
    pullPolicy: Always
  volumes:
    data:
      size: 1Gi

global:
  # TODO: minimum volume size (Vultr is 40Gi for HDD, 10Gi for SSD), backport this to Thorchain and Maya
  images:
    busybox:
      tag: latest
      hash: 4be429a5fbb2e71ae7958bfa558bc637cf3a61baf40a708cb8fff532b39e52d0
    alpine:
      tag: latest
      hash: c5b1261d6d3e43071626931fc004f70149baeba2c8ec672bd4f27761f8e1ad6b
